@import "tailwindcss";

@theme {
  /* Generic/Semantic colors could go here */
}

/* Global styles */
html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family:
    Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
}
